<div class="d-flex">
<div class="form-inline mr-auto">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label> <input type="text" 
    class="form-control mr-2" 
    placeholder="buscar"
    [(ngModel)]="filtroLista">
  </div>
</div>
  <div>
    <button class="btn btn-outline-primary " (click)="openModal(template)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Cadastro
    </button>
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-dark bg-dark">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>
        <button class="btn btn-outline-primary"
        (click)="alternarImagem()">
        <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        
        </button>
      </th>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Email</th>
      <th>DataNasci</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="cadastros && cadastros.length">
    <tr *ngFor="let cadastro of cadastroFiltrados">
      <td>{{cadastro.id}}</td>
      <td>
        <img *ngIf="mostrarImagem"
        src="http://localhost:5000/resources/images/{{cadastro.imagemURL}}?_ts={{dataAtual}}"
        [style.width.px]="imagemLargura"
        [style.margin.px]="imagemMargem">

      </td>
      <td>{{cadastro.nome}}</td>
      <td>{{cadastro.cpf}}</td>
      <td>{{cadastro.email}}</td>
      <td>{{cadastro.dataNasci | DateTimeFormat}}</td>
      <td>
        <div class="btn-group"> 
          <button class="btn btn-sm btn-success" 
          tooltip="Editar" (click)="openModal(template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!cadastros">
    <tr>
      <td colspan="7" class="text center">
        <h4>
          Nenhum cadastro encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]= "form">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Nome</label>
              <input type="text" class="form-control" 
              [ngClass]="{'is-invalid' : f.nome.errors && f.nome.touched}"  
              formControlName="nome" placeholder="Insira o Nome">
              <div class="invalid-feedback">
                O nome é obrigatório.
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Cpf</label>
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid' : f.cpf.errors && f.cpf.touched}"
              formControlName="cpf" placeholder="Insira o Cpf">
              <div class="invalid-feedback">
                O CPF é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data Nascimento </label>
              <input type="text" class="form-control"
              bsDatepicker
              [ngClass]="{'is-invalid' : f.dataNasci.errors && f.dataNasci.touched}"
              formControlName="dataNasci" placeholder="Data de Nascimento">
              <div class="invalid-feedback">
                A data de nascimento é obrigatória.
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Email</label>
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid' : f.email.errors && f.email.touched}"
              formControlName="email" placeholder="Email">
              
              <div class="invalid-feedback">
                O Email é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Foto</label>
              <table>
                <tr>
                  <td>
                    <button class="btn btn-success" (click)="file.click()">
                      Enviar foto
                    </button>
                    <input type="file" #file class="form-control"
                    [ngClass]="{'is-invalid' : f.imagemURL.errors && f.imagemURL.touched}" (change)="onFileChange($event)"
                    formControlName="imagemURL" placeholder="Foto"
                    style="display: none ">
                  </td>
                </tr>
              </table>
              <div class="invalid-feedback">
                A foto é obrigatória.
              </div>
            </div>
          </div>  
        </form>
        
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="template.hide()" >
          Fechar
        </button>
        <button class="btn btn-primary pull-left" [disabled]="!form.valid" (click)="salvarAlteracao(template)">
          Salvar Alterações
        </button>

      </div>
    </div>
  </div>
</div>






